# Folders
projectData
molmag_overview
**__pycache__
process_ac_gui/ac_gui/

# Files
binary.py 
cubicEquation.py 
generalChemistry.py 
linearAlgebra.py 
molarMass.py 
myMaths.py 
readWebsite.py 
git_help.txt
.gitignore

# File types
*.cif 
*.png 
*.lis 
*.pyc 
*.ext
*.pdf
*.docx
*.dat
